/* reset */

body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	// margin: 0;
	// padding: 0;
	// border: 0;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

body {
    background-color: #2b3a1f;
    color: #f5f1ea;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
}

@media (min-width: 30em) {
    
    body {
        padding: 5% 15% 10% 10%;
    }
}

@media (min-width: 50em) {
    
    body {
        padding: 5% 15% 15% 10%;
    }

}

@media (min-width: 70em) {
    
    body {
        padding: 5% 40% 15% 10%;
    }

}

@media (min-width: 90em) {
    
    body {
        padding: 5% 45% 15% 10%;
    }

}

p, h1, h2, h3, h4, ul, li, a:link, a:hover, a:visited {
}

h1 {
    font-size: 4em;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 5px;
    margin: 30px 0 0 0;
}

h2 {
    padding: 5px 0 40px 0;
    margin: 0 0 40px 0;
    font-family: 'Libre Baskerville', serif;
    border-bottom: 1px solid #c2b199;
    line-height: 1.2em;
    font-size: 1.4em;
    font-weight: 400;
}

p {
    padding: 0 5em 1em 0; 
    line-height: 1.3em;
    font-size: 0.9em;
    margin: 0;
}

ul {
    padding: 0 6em 0 0; 
    font-size: 0.9em;
    margin: 0;
}

li {
    padding: 0 0 0.8em 0.5em;
    margin: 0 0 0 1.5em;
    line-height: 1.3em;
}

li:last-of-type {
    padding-bottom: 0;
}

a:link, a:visited {
    color: #c2b199;
}

a:hover {i
    color: #c2b199;
}

